/* font-family: 'Overpass', sans-serif; */

*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body{
    background-color: #313e4b;
}

.main{
    position: relative;
    margin: 10vh auto;
    background-color: #252d37;
    height: 45vh;
    width: 38vh;
    border-radius: 6%;
}

.star, .text1, .text2, .all-ratings, .btn{
    margin: 2.5vh;
}

.star{
    display: inline-block;
    background-color: #333e4c;
    height: 5.5vh;
    width: 5.5vh;
    border-radius: 50%;
}

.star img{
    margin:1.5vh;
}


.text1, .text2, .ratings, .btn, .rating-selected, .text-ty, .text-ty2, .rateagain{
    color: white;
}

.text1{
    margin-top: 1vh;
    font-weight: 700;
}

.text2{
    font-weight: lighter;
    font-size: .7rem;
    line-height: 2.3vh;
}

.all-ratings{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.ratings{
    display: flex;
    background-color: #333e4c;
    color: #959eac;
    height: 5.5vh;
    width: 5.5vh;
    border: 0;
    border-radius: 50%;
    margin: auto;
    align-items: center;
    justify-content:center ;
    transition: .3s;
}


.btn{
    margin-top: 4vh;
    height: 5vh;
    background-color: #fb7413;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    letter-spacing: .1rem;
}

.ratings:hover{
    background-color: #fb7413;
    color: white;
    cursor: pointer;
}

.ratings:focus{
    background-color:#959eac;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: #fb7413;
    cursor: pointer;
}









.main-ty{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    visibility: hidden;
    background-color: #252d37;
    height: 45vh;
    width: 38vh;
    border-radius: 6%;
    text-align: center;
}


.ty{
    display: inline-block;
    margin: 3vh auto 0;
}

.rating-selected{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333e4c;
    color: #fb7413;
    height: 4vh;
    width: 23vh;
    border-radius: 5vh;
    margin: 0 auto 1vh;
    font-size: .85rem;
}

.text-ty{
    margin: 2vh auto 1vh;
    font-weight: 700;
    font-size: 1.2rem;
}


.text-ty2{
    margin: 0 2.5vh .5vh;
    font-size: .7rem;
    line-height: 2.3vh;
}


.rateagain{
    height: 5vh;
    margin: .8vh 2.5vh 0;
    background-color: #fb7413;
    border: none;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    letter-spacing: .1rem;
}


.rateagain:hover{
    background-color: white;
    color: #fb7413;
    cursor: pointer;
}


@media (min-width: 576px){
    
    .main{
        width: 45vh;
    }

    .main-ty{
        width: 45vh;
    }

}